<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\USER\Documents\Y2_S2\CPE262_OOP2\GUI\GUI\GUIdatabase.accdb;Persist Security Info=True"
   providerName="System.Data.OleDb" />
  <add name="GUI.Properties.Settings.GUIdatabaseConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\GUIdatabase.accdb"
   providerName="System.Data.OleDb" />
  <add name="GUI.Properties.Settings.GUIdatabaseConnectionString1"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\USER\Documents\Y2_S2\CPE262_OOP2\GUI\GUIdatabase.accdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>